@media (width >= 768px) and (width <= 1024px) { /*TABLETS*/
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .modal-img {
    width: 80%;
    height: 90%;
    object-fit: contain;
  }

  .dark-light_mode {
    display: none;
  }
}

@media (width <= 767px) { /*SMARTPHONES*/
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .modal-img {
    width: 80%;
    height: 90%;
    object-fit: contain;
  }

  .dark-light_mode {
    display: none;
  }
}
